.form-container > h1{
    position: relative;
    top: -8px;
    color:#79ae35;
    margin-bottom: 20px;
}
.form-container >.form{
    width: 764px;
    height: 338px;
}
.form-container >.form > .part1,
.form-container >.form > .part2{
    float: left;
    height: 338px;
}
.form-container >.form > .part1{
    margin-right: 1px;
    width: 473px;
    background-color: #f3f7d9;
}
.form-container >.form > .part2{
    width: 290px;
    background-color: #e6f1b5;
}
.form-container >.form > .part-clear{
    clear: left;
}
.form-container >.form > .part1 > h2,
.form-container >.form > .part1 > p,
.form-container >.form > .part1 a{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
.form-container >.form > .part1 > p{
    color:#696d56;
    line-height: 20px;
}
/* 管理账户登录使用 */
.form-container >.form > .part1 a{
    text-decoration: none;
    color: #79ae35;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.form-container >.form > .part2 > .part1{
    height: 47px;
    border: 0px none;
    border-bottom: 1px solid #ffffff;
}
.form-container >.form > .part2 > .part2{
    height: 290px;
}
.form-container >.form > .part2 > .part1 > h3{
    margin-left: 20px;
    color:#79ae35;
    line-height: 47px;
}
.form-container >.form > .part2 > .part2 .submit-info{
    width: 203px;
    margin:20px auto;
}
.form-container >.form > .part2 > .part2 .submit-info input[type=submit]{
    width: 100%;
    height: 32px;
    background-color: #f06000;
    border: 0px none;
    font-family: "宋体";
    font-size: 12px;
    font-weight: 100;
    color:#fff6d1;
    cursor: pointer;
}
.form-container >.form > .part2 > .part2 .submit-info .forgetpassword{
    width: 203px;
    text-align: right;
    margin-top: 10px;
}
.form-container >.form > .part2 > .part2 .submit-info .forgetpassword a{
    color:#989f7b;
    text-decoration: none;
    cursor: help;
}
.form-container >.form > .part2 > .part2 .submit-info .forgetpassword .send-email{
    width: 232px;
    position: absolute;
    margin-top: -13px;
    margin-left: -15px;
    *margin-top: -5px;
    *margin-left: -225px;
    z-index: 999;
    display: none;
}
.form-container >.form > .part2 > .part2 .submit-info .forgetpassword .send-email > .bg{
    margin: 0px auto;
    margin-top: 15px;
    width: 232px;
    height: 40px;
    background-image: url(img/foregetpassword_bg.png);
    background-repeat: no-repeat;
    text-align: center;
    line-height: 50px;
    color:#ffffff;
}
.form-container >.form > .part2 > .part2 .submit-info .forgetpassword .send-email > .content{
    text-align: center;
    background-color: #ffffff;
    border: 4px solid #b8d201;
    padding: 20px 0px;
}
.form-container >.form > .part2 > .part2 .submit-info .forgetpassword:hover .send-email{
    display: block;
}
.menu-container{
    /*background-color: #00df00;*/
    margin-bottom: 50px;
}
.menu-container > .menu-title{
    height: 30px;
    line-height: 30px;
    margin-bottom: 1px;
}
.menu-container > .menu-title > .left{
    float: left;
}
.menu-container > .menu-title > .left > p{
    color:#79ae35;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 15px;
}
.menu-container > .menu-title > .left > .details{
    color:#bbbbbb;
}
.menu-container > .menu-title > .right{
    float: right;
}
.menu-container > .menu-title > .right > p{
    color:#437800;
}
.menu-container > .menu-title > .right > a{
    text-decoration: none;
    color:#437800;
}
.menu-container > .menu-title > .clear{
    clear: both;
}
.menu-container > .menu-content{
    /*padding-top: 10px;*/
}
.menu-container > .menu-content > .menu-table{
    padding-top: 3px;
    padding-bottom: 0px;
    background-color: #ffffff;
    background-image: url(img/menu_table_bg.png);
    background-repeat: repeat-x;
}
.menu-container > .menu-content > .menu-table > .menu-table-title{
    height: 30px;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .td1,
.menu-container > .menu-content > .menu-table > .menu-table-title > .td2,
.menu-container > .menu-content > .menu-table > .menu-table-title > .td3,
.menu-container > .menu-content > .menu-table > .menu-table-title > .td4{
    text-align: center;
    font-size: 12px;
    font-family: "宋体";
    font-weight: 600;
    line-height: 30px;
    color:#437800;
    background-color:#e7eeb5;
    margin-left: 1px;
    height: 30px;
    float: left;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .td1{
    width: 280px;
    margin-left: 0px;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .td2{
    width: 140px;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .td3{
    width: 140px;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .td4{
    width: 317px;
}

/* history order */
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd1,
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd2,
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd3,
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd4,
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd5{
    text-align: center;
    font-size: 12px;
    font-family: "宋体";
    font-weight: 600;
    line-height: 30px;
    color:#437800;
    background-color:#e7eeb5;
    margin-left: 1px;
    height: 30px;
    float: left;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd1{
    width: 141px;
    margin-left: 0px;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd2{
    width: 138px;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd3{
    width: 140px;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd4{
    width: 140px;
}
.menu-container > .menu-content > .menu-table > .menu-table-title > .htd5{
    width: 317px;
}

.menu-container > .menu-content > .menu-table > .menu-table-title > .td-clear{
    clear: left;
}
.menu-container > .menu-content > .menu-table > .menu-table-body{
    border: 1px solid #e7eeb5;
    border-bottom: 0px none;
}
.menu-container > .menu-content > .menu-table > .menu-table-body > .td1,
.menu-container > .menu-content > .menu-table > .menu-table-body > .td2,
.menu-container > .menu-content > .menu-table > .menu-table-body > .td3,
.menu-container > .menu-content > .menu-table > .menu-table-body > .td4,
.menu-container > .menu-content > .menu-table > .menu-table-body > .td5{
    height: 30px;
    width: 140px;
    border: 0px none;
    border-left: 1px solid #e7eeb5;
    border-bottom: 1px solid #e7eeb5;
    text-align: center;
    font-weight: 100;
    font-family: "宋体";
    font-size: 12px;
    line-height: 30px;
    color:#566445;
    float: left;
}
.menu-container > .menu-content > .menu-table > .menu-table-body > .td-clear{
    clear: left;
}
.menu-container > .menu-content > .menu-table > .menu-table-body > .td1{
    border-left: 0px none;
    width: 124px;
    text-align: left;
    padding:0px 8px;
}
.menu-container > .menu-content > .menu-table > .menu-table-body > .td2{
    width: 122px;
    text-align: left;
    padding:0px 8px;
}
/*.menu-container > .menu-content > .menu-table > .menu-table-body > .td3{*/
    /*width: 140px;*/
/*}*/
/*.menu-container > .menu-content > .menu-table > .menu-table-body > .td4{*/
    /*width: 140px;*/
/*}*/
.menu-container > .menu-content > .menu-table > .menu-table-body > .td5{
    width: 300px;
    padding:0px 8px;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
}

/* history detail */
.menu-container > .menu-content > .menu-historydetail{
    margin: 15px 0px;
}
.menu-container > .menu-content > .menu-historydetail > span{
    color:#566445;
    font-family: "宋体";
    font-size: 12px;
    font-weight: 100;
}
.menu-container > .menu-content > .menu-historydetail > a{
    color:#566445;
    font-family: "宋体";
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
    margin-left: 15px;
}

/* history detail table  */
.menu-container > .menu-content > .menu-table-hd{
    /*border-collapse: collapse;*/
    border-collapse:collapse;
    /*border: 1px solid #e7eeb5;*/
    /*border-bottom: 0px none;*/
}
.menu-container > .menu-content > .menu-table-hd > thead {
    background-color: #ffffff;
    background-color: #e7eeb5;
    margin:0px;
    padding: 0px;
}
.menu-container > .menu-content > .menu-table-hd > thead > tr > th{
    font-size: 12px;
    font-family: "宋体";
    font-weight: 600;
    color:#437800;
    width: 140px;
    height: 30px;
    /*margin-right: 1px;*/
    background-color: #e7eeb5;
    /*border-right:1px solid #ffffff;*/
    border: 1px solid #e7eeb5;
    border-right: 1px solid #ffffff;
    border-top: 0px none;
    padding-top: 3px;
    background-image: url(img/menu_table_bg.png);
    background-repeat: repeat-x;
}
.menu-container > .menu-content > .menu-table-hd > thead > tr > th.reset{
    border-right: 1px solid #e7eeb5;
}
.menu-container > .menu-content > .menu-table-hd > tbody{
    background-color: #ffffff;
}
.menu-container > .menu-content > .menu-table-hd > tbody > tr > td{
    font-size: 12px;
    font-family: "宋体";
    font-weight: 100;
    color:#566445;
    width: 140px;
    padding: 10px 5px;
    /*border-bottom: 1px solid #e7eeb5;*/
    border: 1px solid #e7eeb5;
}
.menu-container > .menu-content > .menu-table-hd > tbody > tr > td.center{
    text-align: center;
}
.menu-container > .menu-content > .menu-table-hd > tbody > tr > td > a{
    font-size: 12px;
    color:#566445;
    font-family: "宋体";
    font-weight: 100;
    text-decoration: none;
}

.menu-container > .menu-content > .menu-changepwd{
    margin-top: 10px;
}
.menu-container > .menu-content > .menu-changepwd > .left{
    width: 80px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-bottom: 10px;
    *margin-bottom: 0px;
}
.menu-container > .menu-content > .menu-changepwd > .right{
    width: 180px;
    float: left;
    margin-bottom: 10px;
    *margin-bottom: 0px;
}
.menu-container > .menu-content > .menu-changepwd > .right > input[type=text],
.menu-container > .menu-content > .menu-changepwd > .right > input[type=password]{
    width: 170px;
    height: 25px;
    line-height: 25px;
    border:1px solid #c6db34;
}
.menu-container > .menu-content > .menu-changepwd > .clear{
    clear: both;
}

.menu-container > .menu-footer{
    padding-top: 20px;
    *padding-top: 10px;
}
.menu-container > .menu-footer > .statistics{
    font-family: "宋体";
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 5px;
    color:#437800;
}
.menu-container > .menu-footer > .btn-submit-order{
    margin-top: 10px;
}
.menu-container > .menu-footer > .btn-cancel{
    text-decoration: none;
    font-family: "宋体";
    font-size: 14px;
    font-weight: 100;
    color:#9d9d9d;
    margin-left: 20px;
}

/* history paging */
.menu-container > .menu-footer > .paging{
    /*background-color: #007bb6;*/
}
.menu-container > .menu-footer > .paging > span,
.menu-container > .menu-footer > .paging > span > a{
    text-decoration: none;
    color:#566445;
    font-size: 12px;
    font-weight: 100;
    font-family: "宋体";
}
.menu-container > .menu-footer > .paging > span > a{
    /*padding: 0px 3px;*/
}
.menu-container > .menu-footer > .paging > .page-all{
    margin-right: 30px;
}
.menu-container > .menu-footer > .paging > .page-text{
    margin-right: 15px;
}
.menu-container > .menu-footer > .paging > .page-num > a:hover,
.menu-container > .menu-footer > .paging > .page-num > .active{
    color:#c72537;
}
.menu-container > .menu-footer > .paging > .page-num > .omit{
    position: relative;
    top: -3px;
}

/* part2 */
.menu-container > .no-order{
    padding-bottom: 10px;
}
.menu-container > .no-order > .no-order-title{
    height: 22px;
    border: 0px none;
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 12px;
}
.menu-container > .no-order > .no-order-title > p{
    color:#3c3c3c;
}
.menu-container > .no-order > .no-order-content{

}
.menu-container > .no-order > .no-order-content > .left,
.menu-container > .no-order > .no-order-content > .right{
    float: left;
    height: 24px;
    margin-bottom: 7px;
}
.menu-container > .no-order > .no-order-content > .left{
    width: 80px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-container > .no-order > .no-order-content > .left > p{
    color:#566445;
}
.menu-container > .no-order > .no-order-content > .right{
    width: 800px;
}
.menu-container > .no-order > .no-order-content > .clear{
    clear: both;
}

.menu-img-container{
    width: 800px;
    padding-bottom: 40px;
    /*background-color: red;*/
}
.menu-img-container > .img-cell3 > .img-type{
    margin-left: 21px;
}
.menu-img-container > .img-cell3 > .img-type:first-child{
    margin-left: 0px;
}
.menu-img-container > .img-cell4 > .img-type{
    margin-left: 14px;
}
.menu-img-container > .img-cell4 > .img-type:first-child{
    margin-left: 0px;
}
.menu-img-container > .img-cell > .img-type{
    float: left;
    height: 212px;
    border-right: 0px none;
    overflow: hidden;
    cursor: pointer;
    /*margin-right: 10px;*/
}
/*.menu-img-container > .img-type1 > img,*/
/*.menu-img-container > .img-type2 > img,*/
/*.menu-img-container > .img-type3 > img{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
.menu-img-container > .img-cell{
    margin-bottom: 10px;
}
.menu-img-container > .img-cell > .img-type1{
    width: 303px;
}
.menu-img-container > .img-cell > .img-type2{
    width: 202;
}
.menu-img-container > .img-cell > .img-type3{
    width: 151;
}
.menu-img-container > .img-cell > .img-clear{
    clear: both;
}
.menu-img-container > .img-cell > .img-type:hover > .desc{
    display: block;
}
.menu-img-container > .img-cell > .img-type > .desc{
    height: 38px;
    line-height: 38px;
    position: relative;
    top: -58px;
    overflow: hidden;
    display: none;
}
.menu-img-container > .img-cell > .img-type > .desc > .bg{
    height: 38px;
    background-color: #000000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
}
.menu-img-container > .img-cell > .img-type > .desc > .text{
    height: 38px;
    position: relative;
    top: -38px;
    color:#ffffff;
}
.menu-img-container > .img-cell > .img-type > .desc > .text > .title{
    font-family: "宋体";
    float: left;
}
.menu-img-container > .img-cell > .img-type > .desc > .text > .price{
    font-family: "arial";
    float: right;
}
.menu-img-container > .img-cell > .img-type > .desc > .text > .clear{
    clear: both;
}
/* hack ie 7 , fuck !! */
.menu-img-container > .img-cell > .img-type1 > .desc > .bg,
.menu-img-container > .img-cell > .img-type1 > .desc > .text{
    padding: 0px 10px;
    width: 220px;
}
.menu-img-container > .img-cell > .img-type2 > .desc > .bg,
.menu-img-container > .img-cell > .img-type2 > .desc > .text{
    padding: 0px 10px;
    width: 140px;
}
.menu-img-container > .img-cell > .img-type3 > .desc > .bg,
.menu-img-container > .img-cell > .img-type3 > .desc > .text{
    padding: 0px 10px;
    width: 100px;
}

.menu-order-container{
    width: 100%;
    height: 102px;
}
.menu-order-container > .ready{
    width: 800px;
    margin-bottom: 3px;
}
.menu-order-container > .ready > .add-food{
    width: 26px;
    height: 26px;
    background-image: url(img/add.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
.menu-order-container > .ready > .foodlist{
    width: 170px;
    height: 26px;
    padding: 0px 10px;
    background-color: #b8d201;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}
.menu-order-container > .ready > .foodlist > span{
    color:#ffffff;
    font-size: 12px;
    font-weight: 100;
    font-family: "宋体";
    line-height: 26px;
    float: left;
}
.menu-order-container > .ready > .foodlist > .del{
    width: 13px;
    height: 13px;
    background-image: url(img/del.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 2px;
    float: right;
}
.menu-order-container > .ready > .foodlist > .clear{
    clear: both;
}
.menu-order-container > .ready > .clear{
    clear: both;
}
.menu-order-container > .info{
    width: 100%;
    height: 66px;
    background-color: #e2e2ce;
    position: absolute;
    left: 0px;
}
.menu-order-container > .info > .add-action{
    width: 800px;
    height: 66px;
    margin: 0px auto;
    padding: 0px 0px 0px 40px;
}
.menu-order-container > .info > .add-action > .left{
    float: left;
}
.menu-order-container > .info > .add-action > .left > .input{
    width: 115px;
    height: 40px;
    border:0px;
    background-color: #b8d201;
    font-family: "宋体";
    font-size: 12px;
    font-weight: 100;
    color:#475100;
    margin-top: 13px;
    cursor: pointer;
}
.menu-order-container > .info > .add-action > .left > .add-icon{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 21px;
    height: 21px;
    border:0px;
    background-image: url(img/add2.png);
    position: relative;
    top: -3px;
    *top: -7px;
}
.menu-order-container > .info > .add-action > .right{
    float: right;
    font-size: 12px;
    font-family: "宋体";
    font-weight: 100;
    color:#00570e;
}
.menu-order-container > .info > .add-action > .right > .input{
    width: 115px;
    height: 40px;
    border:0px;
    background-color: #b8d201;
    font-family: "宋体";
    font-size: 12px;
    font-weight: 100;
    color:#ffffff;
    margin-top: 13px;
    cursor: pointer;
}
.menu-order-container > .info > .add-action > .right .num{
    width: 30px;
    height: 12px;
    border: 1px solid #a4a4a4;
    text-align: center;
    margin-right: 5px;
    color:#00570e;
    *padding: 6px 0px;
    *position: relative;
    *top: 3px;
}
.menu-order-container > .info > .add-action > .right > span{
    margin-right: 30px;
    *position: relative;
    *top: -12px;
}
.menu-order-container > .info > .add-action > .right > span:first-child{
    margin-right: 10px;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container {
    width: 287px;
    height: 233px;
    position: absolute;
    background-color: #b8d201;
    margin-top: -279px;
    margin-left: 67px;
    *margin-top: -228px;
    *margin-left: -208px;
    display: none;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .top{
    height: 34px;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .top > .title{
    font-size: 14px;
    color:#175100;
    text-align: center;
    line-height: 34px;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .top  > .title > .close-icon{
    float: right;
    width: 10px;
    height: 9px;
    background-image: url(img/arr_w.png);
    background-repeat: no-repeat;
    position: relative;
    top: 14px;
    left: -10px;
    *top: -20px;
    *left: -10px;
    cursor: pointer;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .top > .clear{
    clear: both;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom{
    height: 192px;
    width: 281px;
    margin:3px auto;
    background-color: #ffffff;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom > .content{
    width: 201px;
    /*background-color: red;*/
    margin: 0px auto;
    padding-top: 15px;
    overflow: hidden;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom > .content > a{
    color:#d8d6d6;
    cursor: help;
    text-decoration: none;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom > .content > select,
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom > .content > input[type=text],
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom > .content > input[type=button]{
    border: 0px none;
    outline: none;
    width: 201px;
    height: 30px;
    /*margin-bottom: 10px;*/
    /**margin-bottom: 15px;*/
    margin-bottom: 15px;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom > .content > select{
    background-color: #ededed;
    /*width: 230px;*/
    /**width: 201px;*/
    width: 201px;
    /**height: 20px;*/
    /*height: 25px;*/
    height: 20px !important;
    margin-top: 10px;
    /*padding:9px 0px 9px 10px;*/
    /**padding:0px;*/
    /*text-indent: 8px;*/
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom > .content > .select-icon{
    width: 10px;
    height: 9px;
    background-image: url(img/arr_b.png);
    *background-image: none;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 180px;
    margin-top: -30px;
    *margin-left: 0px;
    *margin-top: 0px;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom > .content > input[type=text]{
    background-image: url(img/input-all.png);
    background-repeat: no-repeat;
    height: 12px;
    padding:9px 10px;
    width: 181px;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .bottom > .content > input[type=button]{
    background-color: #f06000;
    color:#ffffff;
}
.menu-order-container > .info > .add-action > .right > .submit-order-container > .footer{
    height: 10px;
    width: 10px;
    margin:0px auto;
    margin-top: -3px;
    background-image: url(img/footer_icon.png);
}
.menu-order-container > .info > .add-action > .clear{
    clear: both;
}